<div class='d-flex justify-content-center align-items-center  py-5 gap-5 px-5'>
  <div class='container d-flex justify-content-center bg-info py-5 rounded'>

    <form class='form login-form'>
      <h2 class='text-center'>Login</h2>
      <div class='form-group'>
        <label for='email-login'>Email:</label>
        <input class='form-input' type='text' id='email-login' placeholder='example@gmail.com' />
      </div>
      <div class='form-group'>
        <label for='password-login'>Password:</label>
        <input type='password' id='password-login' placeholder='Password' />
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' type='submit'>login</button>
      </div>
    </form>
  </div>
  <div class='container d-flex justify-content-center bg-info py-3 rounded'>

    <form class='form signup-form'>
      <h2>Signup</h2>
      <div class='form-group'>
        <label for='username-signup'>Username:</label>
        <input type='text' id='username-signup' placeholder='username' />
      </div>
      <div class='form-group'>
        <label for='email-signup'>Email:</label>
        <input type='text' id='email-signup' placeholder='example@gmail.com' />
      </div>
      <div class='form-group'>
        <label for='password-signup'>Password:</label>
        <input type='password' id='password-signup' placeholder='password' />
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' type='submit'>signup</button>
      </div>
    </form>
  </div>
</div>

<script src='./js/login.js'></script>